
.content{
   margin-top:120px;
   margin-bottom: 50px;
   margin-right: auto;
   margin-left: auto;
   padding-left: 10px;
   width:700px;
   border:1px solid rgb(156, 143, 143);
   font-family: 標楷體;
}
.content input{
    border:1px solid black;
    line-height: 20px;
    margin:10px;
    font-family: 標楷體;

}
.content form{
    text-align: left;
    font-family: 標楷體;
}
.content span{
    vertical-align: top;
    text-align: -webkit-center;

}
.content textarea{
    margin-left:5px;
}

